<div class="col-md-6 col-md-offset-3">
  <form ng-controller="UserController" ng-submit="login()" class="">
    <div>
      <div class="form-group">
      	<label for="email" class="">Email Address: </label>
      	<input type="text" name="email" id="emailLogin" ng-model="loginUser.email" placeholder="example@example.com" class="">
      </div>
      <div class="form-group">
        <label for="password" class="">Password:</label>
        <input type="password" id="passwordLogin" placeholder="My Password" ng-model="loginUser.password" class="">
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn">
      </div>
    </div>
  </form>
</div>


